.block3 {
    margin-top: 212px;
}

.block3-inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* font-size: 64px; */
}

.block3__title {
    text-align: center;
    /* max-width: 414px; */
    font-family: "Futura Md BT";
    font-weight: 500;
    font-size: 64px;
    line-height: 156%;
}

.block3__span {
    position: relative;
    font-weight: 700;
}

.block3__span::before {
    content: "";
    position: absolute;
    top: 11.5px;
    right: -139px;
    width: 337px;
    height: 60px;
    background: #BA0000;
    transform: rotate(12.5deg);
    z-index: 2;
    mix-blend-mode: multiply;
}

.block3__humans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.block3__human__block {}

.block3__human__block__img img {
    width: 100%;
}