.block10 {
    margin-top: 300px;
}

.block10__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 182px;
}

.block10__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block10__img {
    margin-top: 10px;
    margin-right: 16px;
}

.block10__content {}

.block10__title {
    font-family: Futura Hv BT;
    font-style: Heavy;
    font-weight: 900;
    font-size: 16px;
    text-transform: capitalize;

    margin-bottom: 8px;
}

.block10__text {
    font-family: Futura Bk BT;
    font-weight: 400;
    font-style: Book;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}