.block4 {
    margin-top: 172px;
}

.block4-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 120px;


}


.block4__title {
    font-family: "Futura XBlkCnIt BT";
    font-style: italic;
    font-weight: 400;
    font-size: 96px;
    text-transform: capitalize;
    color: #fff;
    transform: rotate(-11.82deg);

}

.block4__span-1 {
    position: relative;
    font-family: "Futura XBlkCnIt BT", sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #fff;
    /* основной белый текст */
    display: inline-block;
}

.block4__span-1::after {
    content: "SPORTS";
    /* дублируем текст */
    position: absolute;
    inset: 0;
    background: url("../img/red_title.png") no-repeat center/cover;
    /* картинка */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* чтобы была видна только картинка внутри букв */
    pointer-events: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}




.block4__span-2 {
    top: 63px;
    position: absolute;
    left: 288px;
    color: black;

    -webkit-text-stroke: 1px white;
    z-index: -1;
}

.block4-vitrina {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 141px;
    column-gap: 47px;
    margin-top: 140px;
}

.block4__item-none {
    visibility: hidden;
}

.block4__item {
    position: relative;
}

.deck {
    /* position: relative; */
}

.block4__item__sneaker {
    position: absolute;
    left: 32px;
    top: -110px;
}

.block4__item__sneaker-2 {
    top: -140px;
}

.block4__item__sneaker-3 {
    top: -140px;
}

.block4__item__sneaker-4 {
    top: -150px;
}

.block4__item__sneaker-5 {
    top: -130px;
}

.block4__item__sneaker-6 {
    top: -80px;
    left: 45px
}

.block4__item__text {}

.block4__button {
    width: 160px;
}