.block6 {
    margin-top: 160px;
}

.block6-inner {
    display: flex;
    flex-direction: column;
    gap: 180px;
}

.block6__title {
    font-family: "Futura Md BT";
    font-weight: 400;
    font-style: Medium;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
}



.block6__content {
    display: flex;
    gap: 80px;
}



.block6__item {
    position: relative;
    width: 330px;
}

.block6__description {
    position: absolute;
    right: -57px;
    top: -100px;

    font-family: "Futura XBlkCnIt BT", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    color: #fff;

}

.glow1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(179 22 22 / 90%) 0%, rgba(38, 0, 0, 0%) 80%);
    filter: blur(60px);
    z-index: -1;
}


.Nike {
    font-family: "Futura Lt BT";
    font-weight: 400;
    font-style: Light;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
    color: #BA0000;

    display: inline-block;
    position: relative;

}

.shadow {
    position: absolute;
    left: 0px;
    bottom: -15px;
    width: 100%;
    height: 12px;
    background: radial-gradient(50% 50% at 50% 50%, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.point {
    font-weight: 500;
    color: #ba0000;
    margin-left: 6px;
}

.block6__item__text {}

.block6__item__prise {
    color: rgba(186, 0, 0, 1);
}

.block6__item__img {
    position: absolute;
    left: 27px;
    top: -50px;
}


.block6__item__img--2{
    left: 27px;
    top: -90px;
}

.block6__item__img--3{
    left: 27px;
    top: -80px;
}