.block5 {
    margin-top: 160px;
}

.block5-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.block5__img img {
    position: absolute;
    left: -31px;
    top: 16px
}

.block {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    background: rgb(22 1 1);
    /* mix-blend-mode: soft-light; */
    /* overflow: hidden; */
}

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(179 22 22 / 90%) 0%,
            rgba(38, 0, 0, 0%) 80%);
    filter: blur(60px);
    z-index: -1;
}






.block5__content {
    display: flex;
    flex-direction: column;
    max-width: 676px;
}

.block5__title {
    font-family: 'Futura Md BT';
    font-weight: 400;
    font-style: Medium;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 32px;
}

.block5__text {
    font-family: 'futurabkbtrusbyme_book';
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}

.block5__button {}

.button {}

.block5__bottom {}