.block11 {
    margin-top: 80px;
}

.block11-inner {
    display: flex;
    gap: 146px;
}

.block11__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 474px;
}

.block11__title {
    font-family: 'Futura LT Bold';
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0%;
    text-transform: capitalize;


    margin-bottom: 32px;
}

/* Общая рамка */
.field {
    width: 400px;
    height: 56px;
    border: 1px solid #fff;
    border-radius: 80px;

    display: flex;
    overflow: hidden;
    /* чтобы края кнопки и инпута идеально совпадали */
}

.field__input {
    flex: 1;
    /* занимает всё доступное пространство */
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    border-radius: 0;
}

.field__input::placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}


.field__btn {
    width: 146px;
    height: 100%;
    border-radius: 80px;
    background: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;

    border: none;
    /* убрать рамку */
    border-radius: 0;
}


.block11__img {
    margin-top: 88px;
}

.block11__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    column-gap: 40px;
    row-gap: 51px;
}

.block11__grid-1 {}

.item {}

.item__title {
    font-family: 'Futura XBlkCnIt BT';
    font-style: Italic;
    font-weight: 900;
    font-size: 24px;
    color: #fff;

    text-transform: uppercase;
    margin-bottom: 18px;
}

.item__catalog {
    font-family: 'Futura LtCn BT Light';
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.item__item {
    margin-bottom: 16px;
}

.block12__grid {}

.block11__grid-2 {}

.block13__grid {}

.block11__grid-3 {
    grid-column: 3;
    /* остаётся в третьей колонке */
    grid-row: 1 / span 2;
    /* тянется на две строки */
}

.item__item-3 {
    margin-bottom: 32px;
}


.block14__grid {}

.block11__grid-4 {}

.block15__grid {}

.block11__grid-5 {}

.block16__grid {}