@font-face {
    font-family: "FuturaBT";
    src: url("../fonts/futura-bk-bt-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaBT";
    src: url("../fonts/futura-bk-bt-book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Extra-Black";
    src: url("../fonts/futura-extra-black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Extra-Black";
    src: url("../fonts/futura-extra-black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Futura_LtCn";
    src: url("../fonts/Futura_LtCn_BT_Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura_LtCn";
    src: url("../fonts/Futura_LtCn_BT_Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futuramdbt";
    src: url("../fonts/futuramdbt_bold_1.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura-Hv-BT-Heavy";
    src: url("../fonts/Futura-Hv-BT-Heavy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "futurabkbtrusbyme_book";
    src: url("../fonts/futurabkbtrusbyme_book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura XBlkCnIt BT";
    src: url("../fonts/futuraxblkbtrusbyme_extrablack.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura Lt BT";
    src: url("../fonts/Futura-Lt-BT-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura Md BT";
    src: url("../fonts/Futura-Md-BT-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Futura LtCn BT Light";
    src: url("../fonts/Futura\ LtCn\ BT\ Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Futura LT Bold";
    src: url("../fonts/19439.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
