:root {
    --general-text: #FFFFFF;
    --white: #FFFFFF;



    --transition: all 0.5s;
}



.body {
    font-family: "FuturaBT";
    line-height: 1.6;
    color: var(--general-text);
    background: #000000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.body--opened-menu {
    overflow: hidden;
}