.label {
    z-index: 15;
    /* width: 100%;
    height: 150px;
    background: url("../img/Labels.png") center/cover no-repeat; */
}


.label2 {
    margin-top: 275px;
    z-index: 15;
    /* width: 100%;
    height: 150px;
    background: url("../img/Block6__bottom.png") center/cover no-repeat; */
}