
/* ======================================= */

.hero {
    padding: 50px 0 140px;
}

.hero-inner {
    display: flex;
    align-items: flex-end;

    /* мб так лучше? */
    justify-content: flex-start;
    align-items: center;
    gap: 137px;
}

.hero-left {
    justify-content: center;
}

.hero-left__content {
    position: relative;
    max-width: 540px;
}

.hero-info {
    margin-bottom: 20px;
}

.data {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-right: 10px;
}

.data:last-child {
    margin-right: 0px;
}

.data:first-of-type {
    position: relative;
}

.data:first-of-type::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
    margin: 0 8px;
    width: 4px;
    height: 4px;
    background-color: #b197b2;
    border-radius: 50%;
}

.hero-left__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 82%;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.hero-left__text {
    color: var(--accent-text);
    margin-bottom: 40px;
    max-width: 360px;
}

.hero-left__button {
    max-width: 360px;
}


/* ============================================================================== */
.hero-right {
    position: relative;
}

.hero-right__foto {
    width: 100%;
    max-width: 400px;
}

.hero-right__move {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -47%;
    top: 76%;
    min-width: 220px;
}

.hero-right__move--mobile {
    
    display: none;
}

.play {
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    background: #FFE0CB;
    position: relative;
    margin-right: 10px;
}

.play::before {
    position: absolute;
    content: "";
    border: 1px solid var(--orange);
    inset: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    opacity: 0;
    transition: all 0.5s;
}

.play:hover:before {
    opacity: 1;
}

.move {
    position: absolute;
    left: 30px;
    top: 25px;
}