.main__testimonial {
    margin-bottom: 145px;
    padding: 0 0 80px;
}

.testimonial {}

.container {}

.testimonial__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.testimonial__info {
    max-width: 632px;
}

.testimonial__title {
    margin-bottom: 20px;
}

.title {}

.testimonial__text {}

.text {}

.testimonial__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.testimonial__prev,
.testimonial__next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--orange);

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
    background: transparent;
    cursor: pointer;
}

.testimonial__prev path,
.testimonial__next path {
    transition: var(--transition);
}

.testimonial__prev:hover,
.testimonial__next:hover {
    background: var(--orange);
}

.testimonial__prev:hover path,
.testimonial__next:hover path {
    fill: var(--white-text);
}

.testimonial__swiper {
    overflow: visible;
    padding-bottom: 30px;
}

.swiper {}

.testimonial__wrapper {}

.swiper-wrapper {
    margin-bottom: 40px;
}

.testimonial__slide {
    background: #FFE0CB;
    border-radius: 20px;
    padding: 30px 30px 40px;

    display: flex;
    gap: 30px;

    transform: scale(.9);
    transition: var(--transition);
    opacity: 0;
    height: auto;
}

.swiper-slide-prev.testimonial__slide,
.swiper-slide-next.testimonial__slide {
    opacity: 0.5;
}

.testimonial__slide.swiper-slide {
    transform: scale(.9);
}

.swiper-slide-active.testimonial__slide {
    transform: scale(1);
    opacity: 1;
}

.swiper-slide {}

.testimonial__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.testimonial__student-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonial__student-img img {
    width: 100%;
}

.testimonial__student-name {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.6;
    color: #000000;
}

.testimonial__student-inst {
    margin: 0 auto;
    color: #CEAAD0;
}

.testimonial__quote {}

.testimonial__quote span {
    display: block;
    font-family: "Gabriola";
    font-weight: 400;
    font-size: 32px;
    line-height: 90%;

    margin-bottom: 10px;


}


.testimonial__scrollbar {
    background: #FFE0CB;
}


.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 7px;
}


.swiper-scrollbar-drag{

    width: 132px;
    height: 7px;
    border-radius: 100px;
}

.testimonial__scrollbar .swiper-scrollbar-drag {
    background: var(--orange);
}


.swiper-slide-active.testimonials__slide {
    transform: scale(1);
}