
/* ======================================================================= */



.section_aboutUs {}

.aboutUs-inner {
    /* для красивого позиционирования двух контентов а имеено картинки и всего остального */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
}

.aboutUs_img {
    border-radius: 20px;
    position: relative;

    /* если внутрь вставить, например, кнопку с position: absolute, она может вылезти за скруглённые края — и это будет выглядеть некрасиво. */
    overflow: hidden;
}

.aboutUs_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.aboutUs__img-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    width: 300px;
    background: #957B97E5;
    border-radius: 20px;
    padding: 15px 20px;
    color: var(--white-text);
}

.aboutUs__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    background: var(--white-text);
    position: relative;

}

.aboutUs__img-button::before {
    position: absolute;
    content: "";
    border: 1px solid #CEAAD0;
    inset: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    opacity: 0;
    transition: all 0.5s;
}

.aboutUs__img-button:hover::before {
    opacity: 1;
}

.img__text {
    text-align: left;
}

.aboutUs__body {}

.aboutUs__heading {
    margin-bottom: 30px;
}

.aboutUs__title__text {}

.aboutUs__text {
    /* text-align: justify; */
    margin-bottom: 40px;
}

.aboutUs__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.aboutUs__grid-item {
    border-radius: 20px;
    background: #FFE0CB;
    padding: 29px 24px;
    display: flex;
    gap: 15px;

    align-items: center;
    justify-content: center;

}

.aboutUs__grid-img {
    border: 1px solid #312C27;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}