.gallery {}

.container {}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: end
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 30px;
}


.gallery__text {}

.text {}

.gallery__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-family: "Gabriola";
    font-weight: 400;
    font-size: 32px;
    text-align: center;

}

.gallery__prev,
.gallery__next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--orange);

    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
    background: transparent;
    cursor: pointer;
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--orange);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--white-text);
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}
.gallery__slide img{
    width: 100%;
}
